images {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; }

#images{
    text-align:center;}

.border { border-width: 25px; border-color: white; border-style: solid; }  

stpaulmap {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;}
#stpaulmap {text-align: center}